<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="tf-section-4 mb-30">
            <!-- chart-default -->
            <div class="wg-chart-default">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap14">
                        <div class="image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52" viewBox="0 0 48 52" fill="none">
                                <path opacity="0.08" d="M19.1086 2.12943C22.2027 0.343099 26.0146 0.343099 29.1086 2.12943L42.4913 9.85592C45.5853 11.6423 47.4913 14.9435 47.4913 18.5162V33.9692C47.4913 37.5418 45.5853 40.8431 42.4913 42.6294L29.1086 50.3559C26.0146 52.1423 22.2027 52.1423 19.1086 50.3559L5.72596 42.6294C2.63194 40.8431 0.725956 37.5418 0.725956 33.9692V18.5162C0.725956 14.9435 2.63195 11.6423 5.72596 9.85592L19.1086 2.12943Z" fill="url(#paint0_linear_53_110)"/>
                                <defs>
                                  <linearGradient id="paint0_linear_53_110" x1="-43.532" y1="-34.3465" x2="37.6769" y2="43.9447" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#92BCFF"/>
                                    <stop offset="1" stop-color="#2377FC"/>
                                  </linearGradient>
                                </defs>
                            </svg>
                            <i class="icon-layers"></i>
                        </div>
                        <div>
                            <div class="body-text mb-2">Total Categories</div>
                            <h4>2</h4>
                        </div>
                    </div>
                </div>
                <div class="wrap-chart">
                    <div id="line-chart-1"></div>
                </div>
            </div>
            <!-- /chart-default -->
            <!-- chart-default -->
            <div class="wg-chart-default">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap14">
                        <div class="image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52" viewBox="0 0 48 52" fill="none">
                                <path opacity="0.08" d="M19.1086 2.12943C22.2027 0.343099 26.0146 0.343099 29.1086 2.12943L42.4913 9.85592C45.5853 11.6423 47.4913 14.9435 47.4913 18.5162V33.9692C47.4913 37.5418 45.5853 40.8431 42.4913 42.6294L29.1086 50.3559C26.0146 52.1423 22.2027 52.1423 19.1086 50.3559L5.72596 42.6294C2.63194 40.8431 0.725956 37.5418 0.725956 33.9692V18.5162C0.725956 14.9435 2.63195 11.6423 5.72596 9.85592L19.1086 2.12943Z" fill="url(#paint0_linear_53_110)"/>
                                <defs>
                                  <linearGradient id="paint0_linear_53_110" x1="-43.532" y1="-34.3465" x2="37.6769" y2="43.9447" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#92BCFF"/>
                                    <stop offset="1" stop-color="#2377FC"/>
                                  </linearGradient>
                                </defs>
                            </svg>
                            <i class="icon-dollar-sign"></i>
                        </div>
                        <div>
                            <div class="body-text mb-2">Total Sales</div>
                            <h4>$0</h4>
                        </div>
                    </div>
                </div>
                <div class="wrap-chart">
                    <div id="line-chart-2"></div>
                </div>
            </div>
            <!-- /chart-default -->
            <!-- chart-default -->
            <div class="wg-chart-default">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap14">
                        <div class="image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52" viewBox="0 0 48 52" fill="none">
                                <path opacity="0.08" d="M19.1086 2.12943C22.2027 0.343099 26.0146 0.343099 29.1086 2.12943L42.4913 9.85592C45.5853 11.6423 47.4913 14.9435 47.4913 18.5162V33.9692C47.4913 37.5418 45.5853 40.8431 42.4913 42.6294L29.1086 50.3559C26.0146 52.1423 22.2027 52.1423 19.1086 50.3559L5.72596 42.6294C2.63194 40.8431 0.725956 37.5418 0.725956 33.9692V18.5162C0.725956 14.9435 2.63195 11.6423 5.72596 9.85592L19.1086 2.12943Z" fill="url(#paint0_linear_53_110)"/>
                                <defs>
                                  <linearGradient id="paint0_linear_53_110" x1="-43.532" y1="-34.3465" x2="37.6769" y2="43.9447" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#92BCFF"/>
                                    <stop offset="1" stop-color="#2377FC"/>
                                  </linearGradient>
                                </defs>
                            </svg>
                            <i class="icon-box"></i>
                        </div>
                        <div>
                            <div class="body-text mb-2">Total Products</div>
                            <h4>0</h4>
                        </div>
                    </div>
                </div>
                <div class="wrap-chart">
                    <div id="line-chart-3"></div>
                </div>
            </div>
            <!-- /chart-default -->
            <!-- chart-default -->
            <div class="wg-chart-default">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap14">
                        <div class="image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52" viewBox="0 0 48 52" fill="none">
                                <path opacity="0.08" d="M19.1086 2.12943C22.2027 0.343099 26.0146 0.343099 29.1086 2.12943L42.4913 9.85592C45.5853 11.6423 47.4913 14.9435 47.4913 18.5162V33.9692C47.4913 37.5418 45.5853 40.8431 42.4913 42.6294L29.1086 50.3559C26.0146 52.1423 22.2027 52.1423 19.1086 50.3559L5.72596 42.6294C2.63194 40.8431 0.725956 37.5418 0.725956 33.9692V18.5162C0.725956 14.9435 2.63195 11.6423 5.72596 9.85592L19.1086 2.12943Z" fill="url(#paint0_linear_53_110)"/>
                                <defs>
                                  <linearGradient id="paint0_linear_53_110" x1="-43.532" y1="-34.3465" x2="37.6769" y2="43.9447" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#92BCFF"/>
                                    <stop offset="1" stop-color="#2377FC"/>
                                  </linearGradient>
                                </defs>
                            </svg>
                            <i class="icon-users"></i>
                        </div>
                        <div>
                            <div class="body-text mb-2">Total Vendors</div>
                            <h4>1</h4>
                        </div>
                    </div>
                </div>
                <div class="wrap-chart">
                    <div id="line-chart-4"></div>
                </div>
            </div>
            <!-- /chart-default -->
        </div>
        <div class="tf-section-2 mb-30">
            <!-- product-overview -->
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Top selling product</h5>
                    <div class="dropdown default">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="view-all">View all<i class="icon-chevron-down"></i></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>  
                                <a href="javascript:void(0);">3 days</a>
                            </li>
                            <li>  
                                <a href="javascript:void(0);">7 days</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wg-table table-top-selling-product">
                    <ul class="table-title flex gap20 mb-14">
                        <li>
                            <div class="body-title">Product</div>
                        </li>    
                        <li>
                            <div class="body-title">Category</div>
                        </li>
                        <li>
                            <div class="body-title">Total sale</div>
                        </li>
                        <li>
                            <div class="body-title">Stock</div>
                        </li>
                    </ul>
                    <div class="divider mb-14"></div>
                    <ul class="flex flex-column gap10">
                        <li class="product-item gap14">
                            <div class="image">
                                <img src="/images/products/16.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">Patimax Fragrance Long...</a>
                                </div>
                                <div class="body-text">X1</div>
                                <div class="body-text">$28,672.36</div>
                                <div>
                                    <div class="block-not-available">Out of stock</div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="product-item gap14">
                            <div class="image">
                                <img src="/images/products/17.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">WholeHearted Grain Free Large...</a>
                                </div>
                                <div class="body-text">X1</div>
                                <div class="body-text">$28,672.36</div>
                                <div>
                                    <div class="block-available">In stock</div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="product-item gap14">
                            <div class="image">
                                <img src="/images/products/18.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">Dog Food Rachael Ray Nutrish®</a>
                                </div>
                                <div class="body-text">X1</div>
                                <div class="body-text">$28,672.36</div>
                                <div>
                                    <div class="block-available">In stock</div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="product-item gap14">
                            <div class="image">
                                <img src="/images/products/19.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">Freshpet Healthy Dog Food and Cat...</a>
                                </div>
                                <div class="body-text">X1</div>
                                <div class="body-text">$28,672.36</div>
                                <div>
                                    <div class="block-available">In stock</div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="product-item gap14">
                            <div class="image">
                                <img src="/images/products/20.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">Natural Dog Food Healthy Dog Food</a>
                                </div>
                                <div class="body-text">X1</div>
                                <div class="body-text">$28,672.36</div>
                                <div>
                                    <div class="block-not-available">Out of stock</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /product-overview -->
            <!-- orders -->
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Orders</h5>
                    <div class="dropdown default">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span class="icon-more"><i class="icon-more-horizontal"></i></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>  
                                <a href="javascript:void(0);">This Week</a>
                            </li>
                            <li>  
                                <a href="javascript:void(0);">Last Week</a>
                            </li>
                        </ul>
                    </div>   
                </div>
                <div class="wg-table table-orders-1">
                    <ul class="table-title flex gap10 mb-14">
                        <li>
                            <div class="body-title">Product</div>
                        </li>    
                        <li>
                            <div class="body-title">Customer</div>
                        </li>
                        <li>
                            <div class="body-title">Price</div>
                        </li>
                        <li>
                            <div class="body-title">Delivery date</div>
                        </li>
                    </ul>
                    <div class="divider mb-14"></div>
                    <ul class="flex flex-column gap18">
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="/images/products/21.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow gap10">
                                <div class="name">
                                    <a href="product-list.html" class="body-text">Sojos Crunchy Natural Grain Free...</a>
                                </div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="/images/products/22.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow gap10">
                                <div class="name">
                                    <a href="product-list.html" class="body-text">Kristin Watson</a>
                                </div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="/images/products/23.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow gap10">
                                <div class="name">
                                    <a href="product-list.html" class="body-text">Mega Pumpkin Bone</a>
                                </div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="/images/products/24.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow gap10">
                                <div class="name">
                                    <a href="product-list.html" class="body-text">Cloud Star Dynamo Dog Hip & Joint...</a>
                                </div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="/images/products/25.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow gap10">
                                <div class="name">
                                    <a href="product-list.html" class="body-text">What to Give a Constipated Dog?</a>
                                </div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="/images/products/24.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow gap10">
                                <div class="name">
                                    <a href="product-list.html" class="body-text">Cloud Star Dynamo Dog Hip & Joint...</a>
                                </div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /orders -->
        </div>
    </div>
    <!-- /main-content-wrap -->
</div>